.header {
  background: url("../../assets/svg/shells.svg") repeat;
  background-color: var(--primary-100);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .header__pfp {
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
  }

  .header__logo {
    display: none;
  }

  .header__bell {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5rem;
    border: 3px solid var(--bg-300);
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 1.2rem;

    a {
      color: var(--bg-100);
      font-weight: 600;
      &:hover {
        color: var(--bg-200);
      }
    }
  }
}

@media (width < 700px) {
  .header {
    justify-content: space-between;
  }
  .header__nav {
    display: none !important;
  }
  .header__logo {
    display: block !important;
    width: 12rem;
  }
}

@media (width < 325px) {
  .header__logo {
    display: none !important;
  }
}

.header__notifications {
  position:relative;
  display:inline-block;
}

.header__notifs {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: red;
  color: white;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 10;
  text-align: center;
  user-select: none;
  pointer-events: none;
}

.header__notifs_number {
  margin-bottom: .2rem;
}