<section id="calendarWeek"></section>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script src="./scripts/calendarWeek.js" defer type="module" ></script>