<% const intervals=['daily', 'weekly' , 'monthly' ]; %>

    <section class="summary__section">
        <% intervals.forEach(interval=> { %>
            <details>
                <summary class="summary">
                    <span>
                        <%= interval %>
                    </span>
                    <svg class="chevron" width="12" height="21" viewBox="0 0 12 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L11 10.5L1 20" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </summary>
                <% if(user.role ==="aqua" ) { %>
                    <% const department = departments[3] %>
                    <% const url=department.title.replace(/\s/g, '' ).toLowerCase(); %>
                    <ul class="summary__ul">
                        <%- include('./summaryDepartment.ejs', {interval: interval, url: url, department: department, tasks: tasks, pumps: pumps, filters: filters})%>
                    </ul>
                <% } else {%>
                    <ul class="summary__ul">
                        <% departments.forEach(department=> { %>
                            <% const url=department.title.replace(/\s/g, '' ).toLowerCase(); %>
                                <%- include('./summaryDepartment.ejs', {interval: interval, url: url, department: department, tasks: tasks, pumps: pumps, filters: filters})%>
                            <% }); %>
                        <% } %>
                    </ul>
            </details>
            <% }); %>
    </section>