<% if (notificationCount > 0) { %>
  <div class="notification-box notifications-message">
    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.9911 14.1041C17.3572 14.1041 16.6071 13.4092 16.6071 12.8219V6.41097C16.6071 2.87628 13.5026 0 9.6875 0C5.87235 0 2.76786 2.87628 2.76786 6.41097V12.8219C2.76786 13.3967 2.00427 14.1041 1.38393 14.1041C0.618962 14.1041 0 14.6776 0 15.3863C0 16.0951 0.618962 16.6685 1.38393 16.6685H17.9911C18.756 16.6685 19.375 16.0951 19.375 15.3863C19.375 14.6776 18.756 14.1041 17.9911 14.1041Z" fill="var(--bg-300)"/>
      <path d="M9.43454 20.8492C10.9631 20.8492 12.2024 19.537 12.2024 17.9185H6.66669C6.66669 19.537 7.90599 20.8492 9.43454 20.8492Z" fill="var(--bg-300)"/>
    </svg>
    <p class="notifications-message__text">
      You have <%= notificationCount > 9 ? '9+' : notificationCount %> <%= notificationCount === 1 ? 'notification' : 'notifications' %>
    </p>
    <button class="notifications-message__btn button" onclick="window.location.href='/notifications/all'">See all</button>
  </div>
<% }  %>