<% if (notificationCount > 0) { %>
  <div class="notification-box notifications-message">
    <p class="notifications-message__text">
      You have <%= notificationCount > 9 ? '9+' : notificationCount %> notifications.
    </p>
    <button class="notifications-message__btn button" onclick="window.location.href='/notifications/all'">See all</button>
  </div>
<% } else { %>
  <div class="notification-box notifications-message">
    <span class="notifications-message__text">You have no notifications.</span>
  </div>
<% } %>