<div class="pincode-display">
    <span class="pincode-display__circle" data-id="1"></span>
    <span class="pincode-display__circle" data-id="2"></span>
    <span class="pincode-display__circle" data-id="3"></span>
    <span class="pincode-display__circle" data-id="4"></span>
</div>

<span class="login__error-msg" id="pinError"></span>

<div class="pincode-panel">
    <span class="pincode-panel__key" data-id="1">1</span>
    <span class="pincode-panel__key" data-id="2">2</span>
    <span class="pincode-panel__key" data-id="3">3</span>
    <span class="pincode-panel__key" data-id="4">4</span>
    <span class="pincode-panel__key" data-id="5">5</span>
    <span class="pincode-panel__key" data-id="6">6</span>
    <span class="pincode-panel__key" data-id="7">7</span>
    <span class="pincode-panel__key" data-id="8">8</span>
    <span class="pincode-panel__key" data-id="9">9</span>
    <span class="pincode-panel__key" data-id="0">0</span>
    <span class="pincode-panel__key pincode-panel__key--del" data-id="del">
        <svg width="32" height="23" viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M24.7937 7.88222L21.0521 11.5L24.7937 15.1178C25.2825 15.5904 25.2825 16.3726 24.7937 16.8452C24.5409 17.0896 24.2207 17.2037 23.9005 17.2037C23.5802 17.2037 23.26 17.0896 23.0072 16.8452L19.2656 13.2274L15.524 16.8452C15.2712 17.0896 14.951 17.2037 14.6307 17.2037C14.3105 17.2037 13.9903 17.0896 13.7375 16.8452C13.2487 16.3726 13.2487 15.5904 13.7375 15.1178L17.4791 11.5L13.7375 7.88222C13.2487 7.40963 13.2487 6.62741 13.7375 6.15482C14.2262 5.68222 15.0352 5.68222 15.524 6.15482L19.2656 9.77259L23.0072 6.15482C23.496 5.68222 24.3049 5.68222 24.7937 6.15482C25.2825 6.62741 25.2825 7.40963 24.7937 7.88222ZM31.687 3.35185V19.6481C31.687 21.2126 30.3724 22.5 28.7376 22.5H8.63069C7.60258 22.5 6.67562 21.9948 6.13629 21.1637L0.591312 12.5756C0.169961 11.9237 0.169961 11.0763 0.591312 10.4081L6.13629 1.8363C6.67562 1.00519 7.61945 0.5 8.63069 0.5H28.7544C30.3724 0.5 31.7039 1.78741 31.7039 3.35185H31.687ZM29.1589 3.35185C29.1589 3.1237 28.9735 2.94444 28.7376 2.94444H8.63069C8.47899 2.94444 8.34417 3.00963 8.27676 3.14L2.86661 11.5L8.27676 19.86C8.36103 19.9741 8.49586 20.0556 8.63069 20.0556H28.7544C28.9904 20.0556 29.1758 19.8763 29.1758 19.6481V3.35185H29.1589Z"
                fill="#434343" />
        </svg>
    </span>
</div>

