<% console.log(tasks) %>
<% console.log(department.id) %>

<%
<li class="summary__li">
    <a style="width: 1%;" class="summary__link" href='<%= interval %>/<%= url %>'>
        <%= department.title %>
    </a>
</li>