<section>
    <h2>Task Logs:</h2>

    <table>
        <tr>
            <th>Performed by</th>
            <th>Task name</th>
            <th>Task type</th>
            <th>Type name</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
        
    </table>
</section>