.admin-tasks__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.admin-tasks {
  padding: 1rem;
  width: 100%;
}

.admin-tasks__title {
  text-align: center;
  font-size: 2rem;
}

.admin-tasks__subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--text-200);
}


.admin-tasks__form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

  .admin-tasks__filter-buttons {
  display: flex;
  gap: 1rem;
  flex-direction: column;
    button {
      width: 100%;
    }
  }

.admin-tasks__label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-weight: 600;
}

.admin-tasks__input,
.admin-tasks__select {
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--bg-300);
  border-radius: 0.4rem;
  font-size: 1rem;
  box-sizing: border-box;
  background: var(--cell-100);
  color: var(--text-100);
}

.admin-tasks__input:disabled,
.admin-tasks__select:disabled {
  pointer-events: none;
  appearance: none;
  background-color: transparent;
  border: none;
}

.admin-tasks__department-title {
  margin-top: 2.5rem;
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
  color: var(--accent-200);
}

.admin-tasks__table-container {
  margin: 0 auto;
  width: 100%;
  overflow-x: auto;
  scrollbar-color: var(--bg-400) var(--bg-100);
  scrollbar-width: thin;
}

.admin-tasks_filter__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}


.admin-tasks__table {
  min-width: 20rem;
  border-collapse: collapse;
  background: var(--cell-300);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.113);
  width: 100%;
}

.admin-tasks__table-header {
  width: min-content;
  background: var(--cell-200);
  padding: 0.7rem;
  text-align: left;
  color: var(--text-100);
  font-weight: 600;
}

.admin-tasks__table-header:first-child {
  width: 5rem;
}

.admin-tasks__table-row:nth-child(even) {
  background: var(--cell-100);
}

.admin-tasks__table-cell {
  padding: 0.7rem;
  width: fit-content;
  border-bottom: 1px solid var(--cell-300);
  font-size: 1rem;
  color: var(--text-200);
}

.admin__sidebar {
  padding: 0;
}

.admin__sidebar-filter {
  margin: 2rem auto;
  width: fit-content;

  h2 {
      text-align: center;
  }
}

.admin-tasks__filter-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  div {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
  }
}

.admin__form-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.admin__form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admin__form-container:nth-child(2) {
  div {
    display: flex;
    gap: 0.5rem;
  }
  select {
    width: 100%;
  }
}

.admin__form-buttons {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  button:last-child {
      position: absolute;
      left: 0;
      bottom: -1.5rem;
  }
}

@media (min-width: 800px) {
  .admin__form-content {
    flex-direction: row;
    gap: 2rem;
    label {
      margin-right: 0.5rem;
    }

    .admin__form-container {
      div {
        width: 24rem;
      }
    }
    .admin__form-container:last-child {
      padding-left: 2rem ;
      padding-bottom: 1rem;
      border-left: 2px solid var(--bg-200);
      div {
        margin-top: 1.8rem;
      }

    }
  }

  .admin-tasks__filter-buttons {
    flex-direction: row;
  }

  .admin__form-buttons {
  button:last-child {
    left: auto;
    bottom: auto;
    right: 0;
  }
}

  .admin-tasks {
    padding: 2rem;
    margin: 2rem auto;
  }
  .admin-tasks__table,
  .admin-tasks__table-header,
  .admin-tasks__table-cell {
    font-size: 0.95rem;
  }

  .admin-tasks__form {
    margin: 0 auto;
  }

  .admin-tasks__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }


  .admin-tasks__subtitle {
    width: fit-content;
  }

  .admin-tasks__container {
    width: 100%;
  }
}

@media (min-width: 1400px) {

  .admin__sidebar-filter {
    width: 12.5rem;
  }

  .admin-tasks__content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    label {
      margin-right: 0.5rem;
    }
  }

  .admin__form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
      max-width: 12rem;
      display: flex;
      flex-direction: column;
    }
  }

  .admin-tasks__container:first-child {
    width: 20rem;
  }

  .admin-tasks__container:last-child {
    text-align: left;
    width: 90rem;
    padding-left: 2.5rem;
    border-left: 2px solid var(--bg-200);
  }

  .admin__form-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;

  .admin__form-container:last-child {
    padding: 0;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 1rem;
    div {
      margin: 0;
    }
  }
}

.admin__form-buttons {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  button:last-child {
      position: absolute;
      left: 0;
      bottom: -1.5rem;
  }
}

}