.admin__container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.admin__sidebar {
  padding: 1rem;
  width: 100%;
  height: fit-content;
  width: fit-content;
  margin: 0 auto 1rem auto;
  padding-bottom: 1rem;
}

.task-logs__container {
  padding: 1rem;
}

.admin__sidebar-btn {
  width: fit-content;
  font-size: 1rem !important;
  padding: 2rem;
}


  .admin__sidebar-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }

.admin__title {
  font-size: 1.5rem;
  padding: 0.6rem;
  text-align: center;
}

@media screen and (min-width: 800px) {

  .admin__container {
    flex-direction: column;
    margin: 0;
  }
  
  .admin__sidebar {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .task-logs__container {
    overflow-x: scroll;
    border-top: none;
    border-bottom: none;
    border-right: none;
  }

  .admin__sidebar-btn {
    height: fit-content;
  }

  .export-excel-btn {
    height: fit-content;
  }
}

@media screen and (min-width: 1400px) {
  .admin__sidebar {
    width: fit-content;
    margin: 1rem;
  }


  .admin__sidebar-buttons {
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  .admin__container {
    flex-direction: row;
  }
}