.users {
  padding: 1rem;
}

.users__title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem 1.5rem;
}

.users__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.users__label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-weight: 600;
}

.users__input,
.users__select {
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--bg-300);
  border-radius: 0.4rem;
  font-size: 1rem;
}

.users__button {
  width: 100%;
  align-self: flex-end;
  font-size: 1rem;
}

.users__subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.users__table-container {
  overflow-x: scroll;
}

.users__table {
  width: 100%;
  border-collapse: collapse;
  background: var(--cell-300);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.113);
}

.users__table-header {
  background: var(--cell-200);
  padding: 0.7rem;
  text-align: left;
}

.users__table-row:nth-child(even) {
  background: var(--cell-100);
}

.users__table-cell {
  padding: 0.7rem;
  border-bottom: 1px solid var(--cell-300);
  font-size: 1rem;
}

@media (min-width: 800px) {
  .users {
    padding: 2rem;
    margin: 0 auto;

    div {
      width: fit-content;
    }
  }
  .users__button {
    width: fit-content;
  }
  .users__table {
    width: 50rem;
    margin: 0 auto;
  }
  .users__table,
  .users__table-header,
  .users__table-cell {
    font-size: 0.95rem;
  }

  .users__form {
    width: 20rem;
    margin: 0 auto;
  }

  .users__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

  }
  
  .users__subtitle {
    width: fit-content;
  }
}

@media (min-width: 1200px) {
  .users__content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
  }

  .users__container:last-child {
    padding-left: 2.5rem ;
    border-left: 2px solid var(--bg-200);
  }
}
