.homepage__content {
  display: flex;
  flex-direction: column;
}

@media (width > 800px) {
  .homepage__content {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 2.5rem 0;
    margin: 0 auto;
  }
}

@media (width > 1200px) {
  .homepage__content {
    gap: 5rem;
  }
}