.register {
  font-size: 1.2rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h4 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  a {
    margin-top: 1rem;
    cursor: pointer;
  }
  form {
    input,
    button {
      width: 100%;
    }
  }
}

.register__error-msg {
  height: 2rem;
  margin-bottom: 1rem;
  color: var(--text-200);
}

.register__back {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.image-select__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.image-select__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  transition-property: transform outline;
  transition: ease 200ms;
  outline: thin solid transparent;
  img {
    border-radius: 5rem;
  }
}

.image-select__image:has(input[type="radio"]:checked) {
  transform: scale(1.1);
  outline: thick solid var(--accent-100);
}