@import url("./base/reset.css");

@import url("./pages/login.css");
@import url("./pages/register.css");
@import url("./pages/home.css");
@import url("./pages/admin.css");
@import url("./pages/taskpage.css");
@import url("./pages/analysis.css");
@import url("./pages/notifications.css");
@import url("./pages/admin-userspage.css");
@import url("./pages/admin-taskspage.css");
@import url("./pages/admin-analysispage.css");

@import url("./layout/header.css");
@import url("./layout/navigation.css");

@import url("./components/pincodepanel.css");
@import url("./components/input.css");
@import url("./components/btn.css");
@import url("./components/select.css");
@import url("./components/summary.css");
@import url("./components/tasklogs.css");
@import url("./components/calendarBackwash.css");
@import url("./components/calendarWeek.css");

:root {
  --primary-100: #273787;
  --primary-200: #1f2d6b;
  --bg-100: #f5f5f5;
  --bg-200: #dedede;
  --bg-300: #c1c1c1;
  --bg-400: #959595;
  --cell-100: #fafbfc;
  --cell-200: #e9f0fa;
  --cell-300: #ebf3f87b;
  --accent-100: #449bda;
  --accent-200: #66ade1;
  --accent-300: #88c3ed;
  --text-100: #1a1a1a;
  --text-200: #434343;
}

html {
  font-family: "raleway";
}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
}

a {
  text-decoration: none;
  color: var(--text-100);
  &:hover {
    color: var(--accent-100);
  }
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

ol {
  padding: 0;
}

.profile-pic {
  width: 3rem;
  path {
    fill: var(--bg-100);
  }
}

.main {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

body,
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

@media (width > 800px) {
  .main {
    padding-bottom: 0;
  }
}