.button {
    background-color: var(--accent-100);
    color: var(--bg-100);
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: .5rem;
    padding: 0.5rem 1rem;

    &:hover {
        background-color: var(--accent-200);
    }
}

.button--register-submit {
    margin-top: 1rem;
}

.button--nav {
    padding: 0;
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}