.homepage__content {
  #calendarWeek {
    display: none;
  }
}

.calendar-page {
  #calendarWeek {
    height: 62rem;
  }
}
@media (width > 800px) {
  .homepage__content {
    #calendarWeek {
      display: block;
      width: 50%;

      .fc-toolbar-title {
        font-size: 1.2rem;
      }
      .fc-col-header-cell-cushion {
        font-size: 1rem !important;
      }
    }
  }

  .calendar-page {
    display: flex;
    justify-content: center;
    #calendarWeek {
      width: 80%;
    }
  }
}
