<h2>Admin Panel</h2>
<section class="admin__container">
    <aside class="admin__sidebar">
        <button onclick="window.location.href='/admin/users'">Users</button>
        <button onclick="window.location.href='/admin/tasks'">Tasks</button>
    </aside>
    <%- include('../partials/task-logs.ejs')%>
</section>

<%- include('../partials/navigation.ejs')%>