<%- include('../partials/header.ejs') %>

    <div class="main">
        <h1 class="admin__title">Admin Panel</h1>
        <section class="admin__container">
            <aside class="admin__sidebar">
                <div class="admin__sidebar-buttons">
                    <button class="button admin__sidebar-btn" onclick="window.location.href='/admin/users'">Users</button>
                    <button class="button admin__sidebar-btn" onclick="window.location.href='/admin/tasks'">Tasks</button>
                    <button class="button admin__sidebar-btn" onclick="window.location.href='/admin/analysis'">Analysis</button>
                </div>
            </aside>
            <%- include('../partials/task-logs.ejs')%>
        </section>

        <%- include('../partials/navigation.ejs')%>
    </div>