<%- include('../partials/header.ejs') %>

<div class="main">
    <% if(taskName !=="backwash" ) { %>
        <section class="taskpage">
            <h1 class="taskpage__title"><%= taskName %></h1>
            <div class="taskpage__list">
                <% tasks.forEach(task=> { %>
                    <% let titleToShow=null %>
                    <% if (task.title.toLowerCase().startsWith(taskName)) { %>
                        <% if(task.object_type==="department" ) { %>
                        <% titleToShow=departments[task.object_id-1].title %>
                        <% } else if(task.object_type==="sub_department" ) { %>
                            <% titleToShow=sub_departments[task.object_id-1].title %>
                        <% } else if(task.object_type==="pump" ) { %>
                            <% titleToShow=pumps[task.object_id-1].title %>
                        <% } else if(task.object_type==="filter" ) { %>
                            <% titleToShow=filters[task.object_id-1].title %>
                        <% } %>
                        <%- include('../partials/task', { task: task, title: titleToShow }) %>
                    <% } %>
                <% }); %>
            </div>
        </section>
    <% } %>

    <% if(taskName==="backwash" ) { %>
        <h1 class="backwash__title">Backwash agenda</h1>
        <div class="backwash__container">
            <div>
                <label for="backwashSelect">Select department:</label>
                <select id="backwashSelect"></select>
            </div>
            <section id="calendarBackwash"></section>
        </div>

        <script src="/scripts/calendarBackwash.js" defer></script>
    <% } %>

</div>
<%- include('../partials/navigation.ejs')%>