<%- include('../partials/header.ejs') %>

<div class="main homepage">
    <!-- !!!change later to aqua!!! -->
<% if (userRole === 'user' || userRole === "admin") { %> 
     <%- include('../partials/intervalSelect.ejs') %>
     <%- include('../partials/generalTasksSelect.ejs') %>
<% } %>

<%- include('../partials/navigation.ejs')%> 
<script defer src="/scripts/remove-scrollbar.js"></script>
</div>
