<form action="./logout" method="post">
    <button class="button" type="submit">Log out</button>
</form>

<section class="header">
     <%= title %>
     <% if (admin) {%>
          <%- include('../partials/adminpanel.ejs')%>
     <%}%>
</section>