<%- include('../partials/header.ejs') %>

    <div class="main">
        <section>
            <%- include('../partials/taskList.ejs') %>
        </section>

        <%- include('../partials/navigation.ejs')%>
    </div>